In [1]:
import pandas as pd

In [2]:
df_aprobaciones = pd.read_csv('aprobaciones-prestamos.csv')
df_desembolsos = pd.read_csv('desembolsos-prestamos.csv')

In [3]:
df_aprobaciones.head()

,PAIS,ANIO_APROBACION,SECTOR_INSTITUCIONAL,MONTO_BRUTO_USD,CANTIDAD_APROBACIONES
0,Costa Rica,2012,Sector Privado,3000000.0,1
1,Argentina,2022,Sector Público,115000000.0,4
2,Argentina,2015,Sector Público,50000000.0,1
3,Argentina,2017,Sector Público,30000000.0,1
4,Costa Rica,2003,Sector Privado,54336000.0,12

In [4]:
df_desembolsos.head()

          PAIS  ANIO_DESEMBOLSO SECTOR_INSTITUCIONAL  MONTO_BRUTO_USD
0   Costa Rica             1965       Sector Público       1994591.79
1  El Salvador             1967       Sector Público       4695698.73
2     Honduras             1964       Sector Público       1262295.16
3    Guatemala             1964       Sector Público       2250000.00
4         Cuba             2024       Sector Público      28794236.23

In [5]:
df_aprobaciones.shape

(609, 5)

In [6]:
df_desembolsos.shape

(410, 4)

In [12]:
df_aprobaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 609 entries, 0 to 608
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PAIS                   609 non-null    object
 1   ANIO_APROBACION        609 non-null    int64
 2   SECTOR_INSTITUCIONAL   609 non-null    object
 3   MONTO_BRUTO_USD        609 non-null    float64
 4   CANTIDAD_APROBACIONES  609 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 23.9+ KB

In [16]:
df_aprobaciones.columns

Index(['PAIS', 'ANIO_APROBACION', 'SECTOR_INSTITUCIONAL', 'MONTO_BRUTO_USD',
       'CANTIDAD_APROBACIONES'],
      dtype='object')

In [22]:
df_aprobaciones.isnull().sum()

PAIS                     0
ANIO_APROBACION          0
SECTOR_INSTITUCIONAL     0
MONTO_BRUTO_USD          0
CANTIDAD_APROBACIONES    0
dtype: int64

In [29]:
sorted(df_aprobaciones['ANIO_APROBACION'].unique())

[1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 2023,
 2024,
 2025]

In [32]:
df_desembolsos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410 entries, 0 to 409
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PAIS                  410 non-null    object
 1   ANIO_DESEMBOLSO       410 non-null    int64
 2   SECTOR_INSTITUCIONAL  410 non-null    object
 3   MONTO_BRUTO_USD       410 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 12.9+ KB

In [33]:
df_desembolsos.columns

Index(['PAIS', 'ANIO_DESEMBOLSO', 'SECTOR_INSTITUCIONAL', 'MONTO_BRUTO_USD'], dtype='object')

In [34]:
df_desembolsos.isnull().sum()

PAIS                    0
ANIO_DESEMBOLSO         0
SECTOR_INSTITUCIONAL    0
MONTO_BRUTO_USD         0
dtype: int64

In [40]:
sorted(df_desembolsos['ANIO_DESEMBOLSO'].unique())

[1964,
 1965,
 1966,
 1967,
 1969,
 1970,
 1974,
 1975,
 1976,
 1978,
 1980,
 1981,
 1982,
 1983,
 1986,
 1987,
 1988,
 1989,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 2023,
 2024,
 2025]

In [41]:
df_aprobaciones['DECADA'] = (df_aprobaciones['ANIO_APROBACION'] // 10) * 10

In [43]:
df_aprobaciones.head(10)

,PAIS,ANIO_APROBACION,SECTOR_INSTITUCIONAL,MONTO_BRUTO_USD,CANTIDAD_APROBACIONES,DECADA
0,Costa Rica,2012,Sector Privado,3000000.0,1,2010
1,Argentina,2022,Sector Público,115000000.0,4,2020
2,Argentina,2015,Sector Público,50000000.0,1,2010
3,Argentina,2017,Sector Público,30000000.0,1,2010
4,Costa Rica,2003,Sector Privado,54336000.0,12,2000
5,Belice,2014,Sector Público,30000000.0,1,2010
6,Belice,2009,Sector Público,1905800.0,1,2000
7,Colombia,2008,Sector Privado,5000000.0,1,2000
8,Costa Rica,1965,Sector Privado,1284100.0,4,1960
9,Costa Rica,1981,Sector Privado,2771000.0,4,1980

In [45]:
sorted(df_aprobaciones['DECADA'].unique())

[1960, 1970, 1980, 1990, 2000, 2010, 2020]

In [46]:
df_desembolsos['DECADA'] = (df_desembolsos['ANIO_DESEMBOLSO'] // 10) * 10
df_desembolsos.head(10)

,PAIS,ANIO_DESEMBOLSO,SECTOR_INSTITUCIONAL,MONTO_BRUTO_USD,DECADA
0,Costa Rica,1965,Sector Público,1.994592e+06,1960
1,El Salvador,1967,Sector Público,4.695699e+06,1960
2,Honduras,1964,Sector Público,1.262295e+06,1960
3,Guatemala,1964,Sector Público,2.250000e+06,1960
4,Cuba,2024,Sector Público,2.879424e+07,2020
5,Colombia,2016,Sector Público,1.860000e+08,2010
6,Argentina,2017,Sector Público,2.625000e+06,2010
7,República Dominicana,2009,Sector Público,4.629531e+07,2000
8,México,2017,Sector Público,1.425000e+08,2010
9,Belice,2010,Sector Público,5.000000e+05,2010

In [54]:
sorted(df_desembolsos['DECADA'].unique())

[1960, 1970, 1980, 1990, 2000, 2010, 2020]

In [73]:
(df_aprobaciones['PAIS'].unique())

array(['Costa Rica', 'Argentina', 'Belice', 'Colombia', 'El Salvador',
       'Guatemala', 'Honduras', 'Nicaragua', 'Cuba', 'Panamá',
       'República Dominicana', 'México', 'Regional'], dtype=object)

In [59]:
sorted(df_aprobaciones['SECTOR_INSTITUCIONAL'].unique())

['Sector Privado', 'Sector Público']

In [75]:
(df_desembolsos['PAIS'].unique())

array(['Costa Rica', 'El Salvador', 'Honduras', 'Guatemala', 'Cuba',
       'Colombia', 'Argentina', 'República Dominicana', 'México',
       'Belice', 'Panamá', 'Nicaragua'], dtype=object)

In [61]:
sorted(df_desembolsos['SECTOR_INSTITUCIONAL'].unique())

['Sector Privado', 'Sector Público']

In [63]:
df_aprobaciones['TIPO'] = 'Aprobacion'

In [64]:
df_desembolsos['TIPO'] = 'Desembolso'

In [65]:
df_aprobaciones.head()

,PAIS,ANIO_APROBACION,SECTOR_INSTITUCIONAL,MONTO_BRUTO_USD,CANTIDAD_APROBACIONES,DECADA,TIPO
0,Costa Rica,2012,Sector Privado,3000000.0,1,2010,Aprobacion
1,Argentina,2022,Sector Público,115000000.0,4,2020,Aprobacion
2,Argentina,2015,Sector Público,50000000.0,1,2010,Aprobacion
3,Argentina,2017,Sector Público,30000000.0,1,2010,Aprobacion
4,Costa Rica,2003,Sector Privado,54336000.0,12,2000,Aprobacion

In [66]:
df_desembolsos.head()

,PAIS,ANIO_DESEMBOLSO,SECTOR_INSTITUCIONAL,MONTO_BRUTO_USD,DECADA,TIPO
0,Costa Rica,1965,Sector Público,1994591.79,1960,Desembolso
1,El Salvador,1967,Sector Público,4695698.73,1960,Desembolso
2,Honduras,1964,Sector Público,1262295.16,1960,Desembolso
3,Guatemala,1964,Sector Público,2250000.00,1960,Desembolso
4,Cuba,2024,Sector Público,28794236.23,2020,Desembolso

In [77]:
df_aprobaciones['MONTO_BRUTO_USD'].sum()

57166029524.079994

In [97]:
max_aprob = pd.DataFrame(df_aprobaciones.groupby('ANIO_APROBACION')['MONTO_BRUTO_USD'].sum())
max_aprob.head()

                 MONTO_BRUTO_USD
ANIO_APROBACION
1961                   275000.00
1962                  3238200.00
1963                 11104848.57
1964                 17096093.00
1965                 20638447.00

In [103]:
id_max=max_aprob.idxmax()
monto_max = max_aprob['MONTO_BRUTO_USD'].max()
print(id_max,monto_max)

MONTO_BRUTO_USD    2022
dtype: int64 4290000000.0

In [104]:
df_aprobaciones.head()

,PAIS,ANIO_APROBACION,SECTOR_INSTITUCIONAL,MONTO_BRUTO_USD,CANTIDAD_APROBACIONES,DECADA,TIPO
0,Costa Rica,2012,Sector Privado,3000000.0,1,2010,Aprobacion
1,Argentina,2022,Sector Público,115000000.0,4,2020,Aprobacion
2,Argentina,2015,Sector Público,50000000.0,1,2010,Aprobacion
3,Argentina,2017,Sector Público,30000000.0,1,2010,Aprobacion
4,Costa Rica,2003,Sector Privado,54336000.0,12,2000,Aprobacion

In [105]:
df_aprobaciones['CANTIDAD_APROBACIONES'].sum()

3135

In [106]:
df_desembolsos['MONTO_BRUTO_USD'].sum()

43181979791.15

In [107]:
df_desembolsos.head()

,PAIS,ANIO_DESEMBOLSO,SECTOR_INSTITUCIONAL,MONTO_BRUTO_USD,DECADA,TIPO
0,Costa Rica,1965,Sector Público,1994591.79,1960,Desembolso
1,El Salvador,1967,Sector Público,4695698.73,1960,Desembolso
2,Honduras,1964,Sector Público,1262295.16,1960,Desembolso
3,Guatemala,1964,Sector Público,2250000.00,1960,Desembolso
4,Cuba,2024,Sector Público,28794236.23,2020,Desembolso

In [109]:
df_desembolsos.groupby('ANIO_DESEMBOLSO')['MONTO_BRUTO_USD'].sum().to_dict()

{1964: 3512295.16,
 1965: 1994591.79,
 1966: 8913863.09,
 1967: 4695698.73,
 1969: 1933.57,
 1970: 64870.77,
 1974: 6140000.0,
 1975: 2832769.52,
 1976: 28975921.490000002,
 1978: 200000.0,
 1980: 148750.0,
 1981: 30908267.91,
 1982: 3989674.82,
 1983: 4838148.38,
 1986: 2365397.85,
 1987: 1611007.24,
 1988: 46075095.379999995,
 1989: 49335114.26,
 1991: 24936535.7,
 1992: 41310263.03,
 1993: 22834266.93,
 1994: 60726664.24,
 1995: 49923394.86,
 1996: 862451610.3299999,
 1997: 917684410.3299999,
 1998: 620522073.49,
 1999: 521271409.21,
 2000: 457498700.19,
 2001: 632091264.6,
 2002: 1119498932.64,
 2003: 1152426695.13,
 2004: 1105526121.8,
 2005: 1306292691.6599998,
 2006: 1648145420.06,
 2007: 1475013199.53,
 2008: 1666463740.4299998,
 2009: 1204873448.65,
 2010: 1156160794.1499999,
 2011: 1371889122.18,
 2012: 1432572662.88,
 2013: 1444497626.97,
 2014: 1564238243.75,
 2015: 1503422198.6,
 2016: 1531834677.54,
 2017: 1450890956.57,
 2018: 1859776319.73,
 2019: 1933869138.4,
 2020: 2538808986.15,
 2021: 2150347069.01,
 2022: 2163897031.4,
 2023: 2702691801.92,
 2024: 1904900021.93,
 2025: 1386088897.2}

In [114]:
desembolso = pd.DataFrame(df_desembolsos.groupby('ANIO_DESEMBOLSO')['MONTO_BRUTO_USD'].sum())

In [116]:
id_max=desembolso.idxmax()
monto_max = desembolso['MONTO_BRUTO_USD'].max()
print(id_max,monto_max)

MONTO_BRUTO_USD    2023
dtype: int64 2702691801.92

In [117]:
id_min=desembolso.idxmin()
monto_min = desembolso['MONTO_BRUTO_USD'].min()
print(id_min,monto_min)

MONTO_BRUTO_USD    1969
dtype: int64 1933.57

In [126]:
(df_aprobaciones['ANIO_APROBACION'].nunique())

65

In [127]:
df_desembolsos.count()

PAIS                    410
ANIO_DESEMBOLSO         410
SECTOR_INSTITUCIONAL    410
MONTO_BRUTO_USD         410
DECADA                  410
TIPO                    410
dtype: int64

In [130]:
aprobaciones_anio = pd.DataFrame(df_aprobaciones.groupby('ANIO_APROBACION')['MONTO_BRUTO_USD'].sum())

In [131]:
aprobaciones_anio.head()

                 MONTO_BRUTO_USD
ANIO_APROBACION
1961                   275000.00
1962                  3238200.00
1963                 11104848.57
1964                 17096093.00
1965                 20638447.00

In [132]:
desembolsos_anio = pd.DataFrame(df_desembolsos.groupby('ANIO_DESEMBOLSO')['MONTO_BRUTO_USD'].sum())

In [133]:
desembolsos_anio.head()

                 MONTO_BRUTO_USD
ANIO_DESEMBOLSO
1964                  3512295.16
1965                  1994591.79
1966                  8913863.09
1967                  4695698.73
1969                     1933.57

In [134]:
aprobaciones_decada = pd.DataFrame(df_aprobaciones.groupby('DECADA')['MONTO_BRUTO_USD'].sum())

In [135]:
aprobaciones_decada

        MONTO_BRUTO_USD
DECADA
1960       2.148119e+08
1970       1.142055e+09
1980       9.578069e+08
1990       4.423478e+09
2000       1.217663e+10
2010       1.866732e+10
2020       1.958393e+10

In [136]:
desembolsos_decada = pd.DataFrame(df_desembolsos.groupby('DECADA')['MONTO_BRUTO_USD'].sum())

In [137]:
desembolsos_decada

        MONTO_BRUTO_USD
DECADA
1960       1.911838e+07
1970       3.821356e+07
1980       1.392715e+08
1990       3.121661e+09
2000       1.176783e+10
2010       1.524915e+10
2020       1.284673e+10

In [139]:
(df_desembolsos.groupby('ANIO_DESEMBOLSO')['MONTO_BRUTO_USD'].count())

ANIO_DESEMBOLSO
1964     2
1965     1
1966     2
1967     1
1969     1
1970     1
1974     2
1975     1
1976     3
1978     1
1980     1
1981     3
1982     1
1983     1
1986     1
1987     1
1988     3
1989     5
1991     5
1992     6
1993     6
1994     7
1995     6
1996     9
1997    10
1998    10
1999     9
2000     9
2001     9
2002     9
2003     9
2004    10
2005    10
2006     9
2007    10
2008    10
2009    12
2010    13
2011    12
2012    12
2013    13
2014    12
2015    12
2016    12
2017    15
2018    15
2019    14
2020    13
2021    13
2022    13
2023    16
2024    16
2025    13
Name: MONTO_BRUTO_USD, dtype: int64

In [140]:
(df_aprobaciones.groupby('DECADA')['MONTO_BRUTO_USD'].count())

DECADA
1960     73
1970     99
1980     60
1990     86
2000    107
2010    120
2020     64
Name: MONTO_BRUTO_USD, dtype: int64

In [143]:
(df_aprobaciones.groupby('ANIO_APROBACION')['MONTO_BRUTO_USD'].count().to_dict())

{1961: 1,
 1962: 5,
 1963: 8,
 1964: 10,
 1965: 10,
 1966: 10,
 1967: 9,
 1968: 10,
 1969: 10,
 1970: 10,
 1971: 10,
 1972: 10,
 1973: 10,
 1974: 10,
 1975: 10,
 1976: 10,
 1977: 9,
 1978: 10,
 1979: 10,
 1980: 9,
 1981: 10,
 1982: 9,
 1983: 5,
 1984: 4,
 1985: 4,
 1986: 4,
 1987: 6,
 1988: 3,
 1989: 6,
 1990: 6,
 1991: 7,
 1992: 9,
 1993: 10,
 1994: 10,
 1995: 10,
 1996: 9,
 1997: 9,
 1998: 9,
 1999: 7,
 2000: 9,
 2001: 9,
 2002: 10,
 2003: 10,
 2004: 10,
 2005: 12,
 2006: 9,
 2007: 14,
 2008: 12,
 2009: 12,
 2010: 14,
 2011: 11,
 2012: 9,
 2013: 10,
 2014: 12,
 2015: 14,
 2016: 13,
 2017: 15,
 2018: 10,
 2019: 12,
 2020: 10,
 2021: 11,
 2022: 15,
 2023: 8,
 2024: 8,
 2025: 12}

In [144]:
df_aprobaciones.columns

Index(['PAIS', 'ANIO_APROBACION', 'SECTOR_INSTITUCIONAL', 'MONTO_BRUTO_USD',
       'CANTIDAD_APROBACIONES', 'DECADA', 'TIPO'],
      dtype='object')

In [146]:
aprobaciones_pais = pd.DataFrame(df_aprobaciones.groupby('PAIS')['MONTO_BRUTO_USD'].sum())

In [161]:
aprobaciones_pais.sort_values(by="MONTO_BRUTO_USD", ascending=False).head(5)

             MONTO_BRUTO_USD
PAIS
Costa Rica      1.384132e+10
El Salvador     1.010890e+10
Honduras        9.237314e+09
Nicaragua       7.744200e+09
Guatemala       7.331794e+09

In [162]:
desembolsos_pais = pd.DataFrame(df_desembolsos.groupby('PAIS')['MONTO_BRUTO_USD'].sum())

In [163]:
desembolsos_pais.sort_values(by="MONTO_BRUTO_USD", ascending=False).head(5)

             MONTO_BRUTO_USD
PAIS
Costa Rica      1.010291e+10
El Salvador     9.413078e+09
Guatemala       6.009661e+09
Honduras        5.995158e+09
Nicaragua       5.982712e+09

In [174]:
df_aprobaciones.groupby('SECTOR_INSTITUCIONAL')['MONTO_BRUTO_USD'].sum()

SECTOR_INSTITUCIONAL
Sector Privado    9.384119e+09
Sector Público    4.778191e+10
Name: MONTO_BRUTO_USD, dtype: float64

In [175]:
df_desembolsos.groupby('SECTOR_INSTITUCIONAL')['MONTO_BRUTO_USD'].sum()

SECTOR_INSTITUCIONAL
Sector Privado    1.407492e+10
Sector Público    2.910706e+10
Name: MONTO_BRUTO_USD, dtype: float64

In [176]:
df_aprobaciones.to_csv('aprobaciones_limpias.csv', index=False)
df_desembolsos.to_csv('desembolsos_limpios.csv', index=False)